
@model Question2.Models.Movie

<h2>Edit Movie</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Mid)
    <div>
        @Html.LabelFor(m => m.Moviename)
        @Html.TextBoxFor(m => m.Moviename)
    </div>
    <div>
        @Html.LabelFor(m => m.DirectorName)
        @Html.TextBoxFor(m => m.DirectorName)
    </div>
    <div>
        @Html.LabelFor(m => m.DateofRelease)
        @Html.TextBoxFor(m => m.DateofRelease, "{0:yyyy-MM-dd}", new { type = "date" })
    </div>
    <br />
    <input type="submit" value="Update" />
}

